@import "~common/stylus/variable"

.recommend
  position: fixed
  width: 100%
  top: 88px
  bottom: 0
  
  .rennmend-content
    height: 100%
    overflow: height 

    .slider-wrapper
      position: relative
      width: 100%
      height: 0
      padding-top: 40%
      overflow: height 

      .slider-content
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
